<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

  <module name="TreeWalker">

    <!-- https://source.android.com/source/code-style.html#dont-ignore-exceptions -->
    <module name="EmptyCatchBlockCheck">
      <property name="commentFormat" value=".+"/>
    </module>

    <!-- https://source.android.com/source/code-style.html#dont-catch-generic-exception -->
    <module name="IllegalCatch">
      <property name="illegalClassNames" value="java.lang.Exception, java.lang.Throwable"/>
    </module>

    <!-- https://source.android.com/source/code-style.html#dont-use-finalizers -->
    <module name="NoFinalizer"/>

    <module name="FileContentsHolder"/> <!-- Required by comment suppression filters -->

  </module>

  <!-- Enable suppression comments -->
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE IGNORE\s+(\S+)"/>
    <property name="onCommentFormat" value="CHECKSTYLE END IGNORE\s+(\S+)"/>
    <property name="checkFormat" value="$1"/>
  </module>
  <module name="SuppressWithNearbyCommentFilter">
    <!-- Syntax is "SUPPRESS CHECKSTYLE name" -->
    <property name="commentFormat" value="SUPPRESS CHECKSTYLE (\w+)"/>
    <property name="checkFormat" value="$1"/>
    <property name="influenceFormat" value="1"/>
  </module>
</module>